{% extends 'base.html' %}

{% block style %}

    .title{
        font-size:50px;
    }
    .content{
        text-align:center;
    }

    input, textarea {
        text-align:center;
        background-color:rgba(255,255,255,0.3);
        border: 0px solid;
        color:black;
        weight: 100%;
        height:100%;
        border-radius: 10px;
        font-size: 25px;
    }

    #submit:hover{
        background-color: #524f48;
        color:white;
        transition: .3s ease-in-out;
    }


{% endblock style %}

{% block title %} <title> Adaugare mancare! </title> {% endblock title %}

{% block content %}
    <div class="content">
        <h1 class="title">Adauga felul de mancare</h1>
        <br><br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p style="display: inline">Titlu: </p><input required type="text" name="nume" placeholder="Nume mancare*"><br><br>
            <!--<textarea required rows="4" name="descriere" cols="30" placeholder="Descrie mancarea ta...*"></textarea><br>-->
            <p style="display: inline">Adauga imagine:* </p> <input style="font-size: 15px; border-radius: 0px" type="file" required name="imagine" multiple="" accept="image/*"><br><br>
            <!--
            <span>Categorie* (default:public):  </span><button type="button" class="btn btn-light">Public</button>
            <button type="button" class="btn btn-dark">Privat</button>
            <br><br>-->
            <input id="submit" type="submit" value="Salveaza">
        </form>
    </div>

{% endblock content %}
