{% extends 'base.html' %}

{% block style %}

.title{
    font-size:50px;
}
.content{
    text-align:center;
}

input, textarea {
    text-align:center;
    background-color:rgba(255,255,255,0.3);
    border: 0px solid;
    color:black;
    weight: 100%;
    height:100%;

}


{% endblock style %}

{% block content %}
    <div class="content">
        <h1 class="title">Adauga felul de mancare</h1>
        <br><br>
        <form action="/adauga_mancare/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input required type="text" name="nume" placeholder="Nume mancare*"><br><br>
            <textarea required rows="4" name="descriere" cols="30" placeholder="Descrie mancarea ta...*"></textarea><br>
            <p style="display: inline">Adauga imagine:* </p> <input required name="imagine" type="file" name="pic" accept="image/*"><br><br>
            <input type="submit" value="Salveaza">
        </form>
    </div>

{% endblock content %}