{% load static  %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block title %} <title> Cook easy and smart! </title> {% endblock title %}

    <style>

    {% block style %}
    {% endblock style %}
    
    body{
        background-color: #FFB452;

        /*background-image:url("{% static 'img/background.jpg' %}");
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;*/
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 20px;
    }

    li {
        margin: 10px;
    }

    li{
        font-weight: bold;
    }

    li:hover{
        background-color: #e49b00;
        border-radius: 10px;
    }

    hr{
        border-top: 3px double #8c8b8b;
        color: black;
    }

    </style>
  </head>
  <body>

      <header>

          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                 <a style="color: white" class="navbar-brand">{% block current_page %} Home {% endblock current_page %}</a>
                <button class="navbar-toggler navbar-nav ml-auto" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav ml-auto">


                      <li style="{% if request.resolver_match.url_name == "home" %}background-color:rgba(0,0,0,0.34); border-radius: 5px;{% endif %}">
                      <a class="nav-link" href="/">Home</a>
                      </li>

                  {% if user.is_authenticated %}

                    <!--<li class="{% if request.resolver_match.url_name == "settings" %}active{% endif %}">
                      <a class="nav-link" href="/accounts/settings">Settings</a>
                    </li> - Settings -->


                      <li style="{% if request.resolver_match.url_name == "add_eat" %}background-color:rgba(0,0,0,0.34); border-radius: 5px;{% endif %}">
                      <a class="nav-link" href="/add-eat">Adauga mancare</a>
                      </li>

                      <li style="{% if request.resolver_match.url_name == "gallery_private" %}background-color:rgba(0,0,0,0.34); border-radius: 5px;{% endif %}">
                      <a style="color: yellow" class="nav-link" href="/gallery-private/">Galerie privata</a>
                      </li>

                       <li style="{% if request.resolver_match.url_name == "gallery_public" %}background-color:rgba(0,0,0,0.34); border-radius: 5px;{% endif %}">
                      <a style="color: red" class="nav-link" href="/gallery-public/">Galerie publica</a>
                      </li>

                      <li >
                      <a class="nav-link" href="/accounts/logout">Logout</a>
                     </li>

                  {% else %}


                      <li  style="{% if request.resolver_match.url_name == "register" %}background-color:rgba(0,0,0,0.34); border-radius: 5px;{% endif %}">
                      <a class="nav-link" href="/accounts/register">Register</a>
                     </li>

                      <li style="{% if request.resolver_match.url_name == "login" %}background-color:rgba(0,0,0,0.34); border-radius: 5px;{% endif %}">
                      <a class="nav-link" href="/accounts/login">Login</a>
                    </li>

                  {% endif %}
                  </ul>
                </div>
            </div>


                  </ul>
                </div>
            </div>
          </nav>

      </header>
      <br>
      <section>
          <div class="container">
            {% block content %}

            {% endblock content %}
          </div>

          {% block content_without_container %}

            {% endblock content_without_container %}
      </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  </body>
</html>
