{% extends 'base.html' %}

{% block style %}
.row a{
  color:black;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color:rgba(240, 240, 240, 0.267);
  padding: 10px;
  border-radius: 25px;
    font-size: 50px;

}

.row a:hover{
  color:rgb(252, 252, 252);
  background-color:rgba(12, 12, 5, 0.589);
  transition: .3s ease-in-out;

}

@media (min-width: 916px) { 

}

@media (max-width: 768px) { 
  .row a{
    font-size: 25px;
    margin-top: 50px;
  }





}
{% endblock style %}


{% block content %}
  <div class="selectie">
      {% if user.is_authenticated %}
          <h3 style="float: right">Salut, {{ user.username }}</h3>
    <div style="padding-top: 30%;" class="row">
        <h5>
            <a href="/add-eat">Adauga Mancare</a><br><br><br><br>
              <a  href="/gallery-private/">Pozele mele!</a><br><br><br>
             <a  href="/gallery-public/">Pozele tuturor!</a>
            </h5>
      </div>
    {% else %}
        <h1 style="text-align: center">Nu esti logat!</h1>
     {% endif %}
</div>
{% endblock content %}