{% extends 'base.html' %}

{% block style %}
.row a{
  color:black;
  font-size: 30px;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color:rgba(240, 240, 240, 0.267);
  padding: 10px;
  border-radius: 25px;
}

.row a:hover{
  color:rgb(252, 252, 252);
  background-color:rgba(12, 12, 5, 0.589);
  transition: .3s ease-in-out;

}

@media (min-width: 916px) { 

}

@media (max-width: 768px) { 
  .row a{
    font-size: 25px;
    margin-top: 50px;
  }

  #login-button{
    margin: 30px;
  }

  #register-button{
    margin: 30px;
  }


}
{% endblock style %}


{% block content %}
<div class="container">
  <div class="selectie">
    <div style="padding-top: 50%; padding-left: 5%;" class="row">
      <div id="login-button" class="col-sm-6">
        <a href="/add-eat">Adauga Mancare</a>
      </div>

      <div id="register-button" class="col-sm-6">
        <a href="/gallery">Galerie Mancare</a>
      </div>
  </div>
</div>
{% endblock content %}