{% extends 'base.html' %}
{% block style %}

#login{
    background-color: rgba(0, 0, 0, 0.13);
    width: 80%; 
    height: 500px; 
    display:block;
    margin: 0 auto;
    text-align:center;
}

{% endblock style %}

{% block content %}
<div class="container">
    <div style="padding-top: 10%;" class="spatiu"></div>
    <div id="login" class="login cases">
            <div class="row">
                    <div class="col-6 col-md-3 col-sm">.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4</div>
                    <div class="col-6 col-md-6 col-sm">.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4</div>
                    <div class="col-6 col-md-3 col-sm">.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4.col-6 .col-md-4</div>
                  </div>
    </div>  
</div>
{% endblock content %}