{% extends 'base.html' %}

    {% block style %}
    form, input{
        text-align: center;
    }
    {% endblock style %}

            {% block content %}
                <div class="inputs_settings">
                {% for mesaj in messages %}
                    <h3>{{ mesaj }}</h3>
                    {% endfor %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h6>Nickname</h6><input type="text" name="username" placeholder="Username" value="{{ user.username }}"><br><Br>
                        <h6>Email:</h6><input type="email" name="email" placeholder="Email" value="{{ user.email }}"><br>
                        <!-- TODO: Adauga sa modifici si parola -->
                        <input type="Submit" name="submit">
                    </form>
                </div>
            {% endblock content %}