{% extends 'base.html' %}

    {% block style %}
    form, input{
        text-align: center;
    }
    {% endblock style %}

            {% block content %}
                <div class="inputs_settings">
                {% for mesaj in messages %}
                    <h3>{{ mesaj }}</h3>
                    {% endfor %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username" value="{{ user.username }}"><br>
                        <input type="text" name="first_name" placeholder="First Name" value="{{ user.first_name }}"><br>
                        <input type="text" name="last_name" placeholder="Last Name" value="{{ user.last_name }}"><br>
                        <input type="email" name="email" placeholder="Email" value="{{ user.email }}"><br>
                        <input type="Submit" name="submit">
                    </form>
                </div>
            {% endblock content %}