{% extends 'base.html' %}
{% block style %}

@media only screen and (max-width: 768px) {
/* For phone: */
img{
width: 100%;
height: auto;
}
}
img {
image-orientation: from-image;
}


{% endblock style %}

{% block title %} <title> Galeria publica! </title> {% endblock title %}

{% block current_page %} Galerie publica {% endblock current_page %}

{% block content %}


{% for mesaj in messages %}

<div class="alert alert-success alert-dismissible fade show" id="message_Show" role="alert">
    <strong style="color: green">Done!</strong> {{ mesaj }}
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}

<h1 style="text-align: center;">Galerie publica</h1><br>
{% if feluri_mancare %}
<div class="gallery-items" style="text-align: center">
    {% for fel_de_mancare in feluri_mancare %}
    <div class="item">
        {% if fel_de_mancare.username_autor != username_curent %} <!-- Pentru a nu mai afisa iconitele "adauga la favorit" la  mancarurile proprii. -->
            <a class="btn btn-success" href="{% url 'salvare' fel_de_mancare.id %}" style="float: right;display: inline-block;box-shadow: 0 8px 6px -6px black;
                         {% if fel_de_mancare.este_favorit %}
                                pointer-events: none; cursor: default; background-color:#ff0001;border: none;
                         {% endif %}
                          border-radius: 15px; color: white"
               type="button">
                {% if fel_de_mancare.este_favorit %} <!-- Afisare text daca este sau nu la favorit -->
                    A fost adaugata la favorit!
                {% else %}
                    Salveaza la favorit!
                {% endif %}
            </a>
        {% endif %}
        <h2 class="item-title" style="text-align: left; font-family: 'serif'"> {{fel_de_mancare.titlul}} </h2>
        <h6 style="text-align: left">Autor: {{ fel_de_mancare.username_autor }}</h6>
        <!-- <p style="float: right">{{ fel_de_mancare.data_publicarii }}</p> -->
        <!--<h5 class="item-description"> Descriere: {{ fel_de_mancare.descriere }} </h5>-->
        <br>
        <a class="item-image" href="{{ fel_de_mancare.upload.url }}" style="text-align: left;">
            <img class="images"
                 height="50%"
                 src="{{ fel_de_mancare.upload.url }}"
                 width="70%"></a>
        <br><br>
        <hr>
        <br>
    </div>
    {% endfor %}
</div>
{% else %}
<br><br>
<h1 style="text-align: center">Nu exista nici un fel de mancare.<br>
    <h4 style="text-align: center">Apasa <a href="/add-eat/">aici</a> pentru a posta o mancare!</h4></h1>
{% endif %}


{% endblock content %}


{% block round_button_add %}
<li class="Object-add-eat"><a class="round red" href="/add-eat">+<span class="round">Adauga mancare! </span></a></li>
{% endblock round_button_add %}


