{% extends 'base.html' %}

{% block style %}

    @media only screen and (max-width: 768px) {
      /* For phone: */
        img{
            width: 100%;
            height: auto;
        }

    }

{% endblock style %}

{% block title %} <title> Galeria publica! </title> {% endblock title %}

{% block current_page %} Galerie publica {% endblock current_page %}

{% block content %}

        <h1 style="text-align: center;">Galerie publica</h1><br>
    {% if exista_un_fel_de_mancare %}
        {% for fel_de_mancare in feluri_mancare %}
        <div style="text-align: center" class="gallery-items">
            <div class="item">
                <h2 style="text-align: left" class="item-title"> {{fel_de_mancare.titlul}} </h2>
                <h6 style="text-align: left">Autor: {{ fel_de_mancare.username_autor }}</h6>
                <p style="float: right">{{ fel_de_mancare.data_publicarii }}</p>
                <!--<h5 class="item-description"> Descriere: {{ fel_de_mancare.descriere }} </h5>-->
                <br>
                <a href="{{ fel_de_mancare.upload.url }}" style="text-align: left" class="item-image"> <img class="images" width="70%" height="50%" src="{{ fel_de_mancare.upload.url }}" ></a>
            </div>
        </div>
            <br><br>
            <hr>
            <br>
        {% endfor %}
    {% else %}
        <br><br>
        <h1 style="text-align: center">Nu exista nici un fel de mancare.<br>
                                        <h4 style="text-align: center">Apasa <a href="/add-eat/">aici</a> pentru a posta o mancare!</h4></h1>
    {% endif %}

{% endblock content %}

{% block round_button_add %}
  <li class="Object-add-eat"><a href="/add-eat" class="round red">+<span class="round">Adauga mancare! </span></a></li>
{% endblock round_button_add %}