{% extends 'base.html' %}

{% block style %}

        @media only screen and (max-width: 768px) {
      /* For phone: */
        img{
            width: 100%;
            height: auto;
        }

    }

{% endblock style %}

    {% block title %} <title> Galeria privata! </title> {% endblock title %}

{% block current_page %} Galerie privata {% endblock current_page %}

{% block content %}

        <h1 style="text-align: center; text-shadow: 1px 1px 3px #272634">Galerie privata</h1><br>

{% for mesaj in messages %}
    <div class="alert alert-success alert-dismissible fade show" id="message_Show" role="alert">
        <strong style="color: green">Done!</strong> {{ mesaj }}
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

    {% if feluri_mancare %}
        <div style="text-align: center" class="gallery-items">
            {% for fel_de_mancare in feluri_mancare %}
                <div class="item">
                    <h2  style="text-align: left; font-family: 'serif'" class="item-title"> {{fel_de_mancare.titlul}} </h2>
                    <!-- <p  style="text-align: left; float: right">{{ fel_de_mancare.data_publicarii }}</p> -->
                    <!--<h5 class="item-description"> Descriere: {{ fel_de_mancare.descriere }} </h5>-->
                    <a href="{{ fel_de_mancare.upload.url }}" class="item-image">
                        <img style="border-radius: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.69);"
                             width="100%" height="50%" src="{{ fel_de_mancare.upload.url }}" alt="Imaginea nu exista." >
                    </a>
                    <br><br>
                <hr>
                <br>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <br><br>
        <h1 style="text-align: center">Nu exista nici un fel de mancare.<br>
        <h4 style="text-align: center">Apasa <a href="/add-eat/">aici</a> pentru a posta o mancare!</h4></h1>
    {% endif %}


{% endblock content %}

{% block round_button_add %}
  <li class="Object-add-eat"><a href="/add-eat" class="round red">+<span class="round">Adauga mancare! </span></a></li>
{% endblock round_button_add %}